# TARGET
####                      "Target variable (*1 - client with payment difficulties*: he/she had late payment more than X days on at least one of the                                 first Y installments of the loan in our sample, *0 - all other cases*)",

In [1]:

import pandas as pd
import numpy as np
import os
import glob

In [2]:

# Importing multiple .csv

DATA_PATH = 'C:\\Users\\KALPAW01\\Dropbox\\Data_for_ML_course\\'
flnm_df = glob.glob(DATA_PATH+"*.csv")
flnm_df

['C:\\Users\\KALPAW01\\Dropbox\\Data_for_ML_course\\application_train.csv',
 'C:\\Users\\KALPAW01\\Dropbox\\Data_for_ML_course\\bureau.csv',
 'C:\\Users\\KALPAW01\\Dropbox\\Data_for_ML_course\\bureau_balance.csv',
 'C:\\Users\\KALPAW01\\Dropbox\\Data_for_ML_course\\credit_card_balance.csv',
 'C:\\Users\\KALPAW01\\Dropbox\\Data_for_ML_course\\HomeCredit_columns_description.csv',
 'C:\\Users\\KALPAW01\\Dropbox\\Data_for_ML_course\\installments_payments.csv',
 'C:\\Users\\KALPAW01\\Dropbox\\Data_for_ML_course\\POS_CASH_balance.csv',
 'C:\\Users\\KALPAW01\\Dropbox\\Data_for_ML_course\\previous_application.csv']

In [4]:
# This references the bureau balanced csv
main_df = pd.read_csv(flnm_df[0])

gp = br_df.groupby('SK_ID_BUREAU')

In [5]:
br_df.shape

(307511, 122)

In [6]:
br_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:

for f in main_df:
    print(" {}: Type:{}".format(f, main_df[f].dtype))

 SK_ID_CURR: Type:int64
 TARGET: Type:int64
 NAME_CONTRACT_TYPE: Type:object
 CODE_GENDER: Type:object
 FLAG_OWN_CAR: Type:object
 FLAG_OWN_REALTY: Type:object
 CNT_CHILDREN: Type:int64
 AMT_INCOME_TOTAL: Type:float64
 AMT_CREDIT: Type:float64
 AMT_ANNUITY: Type:float64
 AMT_GOODS_PRICE: Type:float64
 NAME_TYPE_SUITE: Type:object
 NAME_INCOME_TYPE: Type:object
 NAME_EDUCATION_TYPE: Type:object
 NAME_FAMILY_STATUS: Type:object
 NAME_HOUSING_TYPE: Type:object
 REGION_POPULATION_RELATIVE: Type:float64
 DAYS_BIRTH: Type:int64
 DAYS_EMPLOYED: Type:int64
 DAYS_REGISTRATION: Type:float64
 DAYS_ID_PUBLISH: Type:int64
 OWN_CAR_AGE: Type:float64
 FLAG_MOBIL: Type:int64
 FLAG_EMP_PHONE: Type:int64
 FLAG_WORK_PHONE: Type:int64
 FLAG_CONT_MOBILE: Type:int64
 FLAG_PHONE: Type:int64
 FLAG_EMAIL: Type:int64
 OCCUPATION_TYPE: Type:object
 CNT_FAM_MEMBERS: Type:float64
 REGION_RATING_CLIENT: Type:int64
 REGION_RATING_CLIENT_W_CITY: Type:int64
 WEEKDAY_APPR_PROCESS_START: Type:object
 HOUR_APPR_PROCESS_START: Type:int64
 REG_REGION_NOT_LIVE_REGION: Type:int64
 REG_REGION_NOT_WORK_REGION: Type:int64
 LIVE_REGION_NOT_WORK_REGION: Type:int64
 REG_CITY_NOT_LIVE_CITY: Type:int64
 REG_CITY_NOT_WORK_CITY: Type:int64
 LIVE_CITY_NOT_WORK_CITY: Type:int64
 ORGANIZATION_TYPE: Type:object
 EXT_SOURCE_1: Type:float64
 EXT_SOURCE_2: Type:float64
 EXT_SOURCE_3: Type:float64
 APARTMENTS_AVG: Type:float64
 BASEMENTAREA_AVG: Type:float64
 YEARS_BEGINEXPLUATATION_AVG: Type:float64
 YEARS_BUILD_AVG: Type:float64
 COMMONAREA_AVG: Type:float64
 ELEVATORS_AVG: Type:float64
 ENTRANCES_AVG: Type:float64
 FLOORSMAX_AVG: Type:float64
 FLOORSMIN_AVG: Type:float64
 LANDAREA_AVG: Type:float64
 LIVINGAPARTMENTS_AVG: Type:float64
 LIVINGAREA_AVG: Type:float64
 NONLIVINGAPARTMENTS_AVG: Type:float64
 NONLIVINGAREA_AVG: Type:float64
 APARTMENTS_MODE: Type:float64
 BASEMENTAREA_MODE: Type:float64
 YEARS_BEGINEXPLUATATION_MODE: Type:float64
 YEARS_BUILD_MODE: Type:float64
 COMMONAREA_MODE: Type:float64
 ELEVATORS_MODE: Type:float64
 ENTRANCES_MODE: Type:float64
 FLOORSMAX_MODE: Type:float64
 FLOORSMIN_MODE: Type:float64
 LANDAREA_MODE: Type:float64
 LIVINGAPARTMENTS_MODE: Type:float64
 LIVINGAREA_MODE: Type:float64
 NONLIVINGAPARTMENTS_MODE: Type:float64
 NONLIVINGAREA_MODE: Type:float64
 APARTMENTS_MEDI: Type:float64
 BASEMENTAREA_MEDI: Type:float64
 YEARS_BEGINEXPLUATATION_MEDI: Type:float64
 YEARS_BUILD_MEDI: Type:float64
 COMMONAREA_MEDI: Type:float64
 ELEVATORS_MEDI: Type:float64
 ENTRANCES_MEDI: Type:float64
 FLOORSMAX_MEDI: Type:float64
 FLOORSMIN_MEDI: Type:float64
 LANDAREA_MEDI: Type:float64
 LIVINGAPARTMENTS_MEDI: Type:float64
 LIVINGAREA_MEDI: Type:float64
 NONLIVINGAPARTMENTS_MEDI: Type:float64
 NONLIVINGAREA_MEDI: Type:float64
 FONDKAPREMONT_MODE: Type:object
 HOUSETYPE_MODE: Type:object
 TOTALAREA_MODE: Type:float64
 WALLSMATERIAL_MODE: Type:object
 EMERGENCYSTATE_MODE: Type:object
 OBS_30_CNT_SOCIAL_CIRCLE: Type:float64
 DEF_30_CNT_SOCIAL_CIRCLE: Type:float64
 OBS_60_CNT_SOCIAL_CIRCLE: Type:float64
 DEF_60_CNT_SOCIAL_CIRCLE: Type:float64
 DAYS_LAST_PHONE_CHANGE: Type:float64
 FLAG_DOCUMENT_2: Type:int64
 FLAG_DOCUMENT_3: Type:int64
 FLAG_DOCUMENT_4: Type:int64
 FLAG_DOCUMENT_5: Type:int64
 FLAG_DOCUMENT_6: Type:int64
 FLAG_DOCUMENT_7: Type:int64
 FLAG_DOCUMENT_8: Type:int64
 FLAG_DOCUMENT_9: Type:int64
 FLAG_DOCUMENT_10: Type:int64
 FLAG_DOCUMENT_11: Type:int64
 FLAG_DOCUMENT_12: Type:int64
 FLAG_DOCUMENT_13: Type:int64
 FLAG_DOCUMENT_14: Type:int64
 FLAG_DOCUMENT_15: Type:int64
 FLAG_DOCUMENT_16: Type:int64
 FLAG_DOCUMENT_17: Type:int64
 FLAG_DOCUMENT_18: Type:int64
 FLAG_DOCUMENT_19: Type:int64
 FLAG_DOCUMENT_20: Type:int64
 FLAG_DOCUMENT_21: Type:int64
 AMT_REQ_CREDIT_BUREAU_HOUR: Type:float64
 AMT_REQ_CREDIT_BUREAU_DAY: Type:float64
 AMT_REQ_CREDIT_BUREAU_WEEK: Type:float64
 AMT_REQ_CREDIT_BUREAU_MON: Type:float64
 AMT_REQ_CREDIT_BUREAU_QRT: Type:float64
 AMT_REQ_CREDIT_BUREAU_YEAR: Type:float64

In [24]:
main_df['DAYS_BIRTH'].describe()

count    307511.000000
mean     -16036.995067
std        4363.988632
min      -25229.000000
25%      -19682.000000
50%      -15750.000000
75%      -12413.000000
max       -7489.000000
Name: DAYS_BIRTH, dtype: float64

In [27]:
# Credit amount to total income ration
crinc_ratio = (main_df['AMT_CREDIT']/main_df['AMT_INCOME_TOTAL'])
crinc_ratio.columns = ['credit_amount_to_total_income_ratio']
crinc_ratio.describe()

count    307511.000000
mean          3.957570
std           2.689728
min           0.004808
25%           2.018667
50%           3.265067
75%           5.159880
max          84.736842
dtype: float64

In [22]:
# Children to Family ratio
chldfm_ratio = (main_df['CNT_CHILDREN']/main_df['CNT_FAM_MEMBERS'])*100
chldfm_ratio.columns = ['child_to_paretn_ration']
chldfm_ratio.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
dtype: float64

In [23]:
# Number of adults
Temp1 = main_df['CNT_FAM_MEMBERS']-main_df['CNT_CHILDREN']
Temp1.columns =['SK_ID_CURR','number_of_adults']
Temp1.describe()

count    307509.000000
mean          1.735611
std           0.441008
min           1.000000
25%           1.000000
50%           2.000000
75%           2.000000
max           2.000000
dtype: float64

In [12]:
main_df['CNT_FAM_MEMBERS'].describe()

count    307509.000000
mean          2.152665
std           0.910682
min           1.000000
25%           2.000000
50%           2.000000
75%           3.000000
max          20.000000
Name: CNT_FAM_MEMBERS, dtype: float64

In [ ]:
add_df = pd.DataFrame(gp['CREDIT_ACTIVE'].value_counts())
add_df.columns = ['CREDIT_ACTIVE_count']
add_df.head(100)

In [ ]:
brcreditactive_df

In [ ]:
brcreditactive_df.head()

In [ ]:

# Using a pivot table to get the frequency of every STATUS
brcreditactive_agg = pd.pivot_table(brcreditactive_df, columns= 'CREDIT_ACTIVE', index="SK_ID_BUREAU",fill_value=0, aggfunc="count")
# Arrange column names to be more readable

In [ ]:
brcreditactive_agg.head()

In [ ]:
STS_Agg.shape, brbl_df['SK_ID_BUREAU'].nunique()

In [ ]:
# Arrange column names to be more readable
STS_Agg.columns = ['BURO_{}_{}'.format(x[0],x[1]) for x in STS_Agg.columns.tolist()]
STS_Agg